{% load doc_tags %}
<html>
<head>
</head>
<body>
<pre>
{% for model in models %}
## {% if model.description %} {{ model.description }}（*{{ model.name }}*）{% else %}{{ model.name }}{% endif %}管理接口

| 字段名 | 类型 | 含义 |
|:------:|:----:|:----:|
{% for field in model.fields %}| {% if field.pk %}++{% endif %}{% if field.required %}**{% endif %}{{ field.name }}{% if field.required %}**{% endif %}{% if field.pk %}++{% endif %} | {{ field.type }} | {{ field.description }} |
{% endfor %}


{% for method in model.methods %}
{% if method.name == "GET" %}
### 查找
{% with demo_data=model.fields|mock_data %}
请求：

```text
{{ method.name }} {{ endpoint }}{{ model.name|plural }}?{{ demo_data|to_querystr:model }}
```

返回：

```text
{{ demo_data|simple_result:method.name|to_json }}
```
{% endwith %}

{% elif method.name == "POST" %}
### 创建
{% with demo_data=model.fields|mock_data %}
请求：

```text
{{ method.name }} {{ endpoint }}{{ model.name|plural }}

{{ demo_data|pickup_required:model|to_json }}
```

返回：

```text
{{ demo_data|pickup_pk:model|simple_result:method.name|to_json }}
```
{% endwith %}

{% elif method.name == "PUT" %}
### 更新
{% with demo_data=model.fields|mock_data %}
请求：

```text
{{ method.name }} {{ endpoint }}{{ model.name|plural }}?{{ demo_data|to_querystr:model }}

{{ demo_data|pickup_required:model|to_json }}
```

返回：
```text
{{ demo_data|pickup_pk:model|simple_result:method.name|to_json }}
```
{% endwith %}

{% elif method.name == "DELETE" %}
### 删除
{% with demo_data=model.fields|mock_data %}
请求：

```text
{{ method.name }} {{ endpoint }}{{ model.name|plural }}?{{ demo_data|to_querystr:model }}
```

返回：
```text
{{ demo_data|pickup_pk:model|simple_result:method.name|to_json }}
```
{% endwith %}
{% endif %}
{% endfor %}
{% endfor %}

</pre>
</body>
</html>